@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgba(21, 21, 22, 0.774);
}
header .carousel-inner .item {
  height: 100vh;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 40px;
  padding: 40px 15px;
  font-weight: 900;
}
.nav.navbar-nav.navbar-right {
  margin: 15px 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #edbb00;
  text-transform: uppercase;
}

/*responsive css*/

@media only screen and (max-width: 767px) {
  .navbar-inverse .navbar-brand {
    font-size: 30px;
    padding: 20px 15px;
  }
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.5);
  }
}

/* about*/
.about {
  margin-top: 15rem;
}
.container-11 {
  display: flex;
}
.row-11 {
  min-width: 20%;
  background: rgb(95, 92, 92);
  padding: 40px 20px;
  margin: 0 30px;
  font-family: sans-serif;
  color: rgba(0,0,0,0.2);
  font-size: 24px;
  position: relative;
  border-radius: 0.5rem;
}
.row-12 {
  min-width: 20%;
  min-width: 20%;
  background: rgb(95, 92, 92);
  padding: 40px 20px;
  margin: 0 30px;
  font-family: sans-serif;
  color: rgba(0,0,0,0.2);
  font-size: 24px;
  position: relative;
  border-radius: 0.5rem;
}
.row-11:hover {
  box-shadow: 0 0 11px rgba(235, 230, 230, 0.267);
  transition: box-shadow .3s;
}
.row-12:hover {
  box-shadow: 0 0 11px rgba(235, 230, 230, 0.267);
  transition: box-shadow .3s;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #edbb00;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 1.5;
}
section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #edbb00;
  text-transform: uppercase;
  font-size: 5rem;
}
h4 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}
p {
  font-size: 1.6rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 1.5;
}

.heading span {
  color: #edbb00;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #edbb00;
  color: white;
}

@media only screen and (max-width: 768px) {
  .about {
    margin-top: 20rem;
  }
  .heading {
    text-align: center;
    padding-bottom: 2rem;
    color: #edbb00;
    text-transform: uppercase;
    font-size: 3rem;
  }
  h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: #fff;
  }
  .about .row .content h3 {
    font-size: 2.5rem;
    color: #fff;
  }
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }

  .btn:hover {
    background: #edbb00;
    color: white;
  }
  p {
    font-size: 1.3rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 1.5;
  }
  .about .row .content p {
    font-size: 1.3rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 1.5;
  }
  .container-11 {
    display: grid;
  }
  .row-11, .row-12 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/*footer*/

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #edbb00;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.fas {
  color: #fff;
  margin-right: 10px;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(255, 252, 252, 0.336);
  color: #fff;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-size: 17px;
}

.footer .credit span {
  color: #edbb00;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
